.sidebar {
  width: 260px;
  height: 100vh;
  background: #022c22;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #065f46;
  display: flex;
  gap: 15px;
  align-items: center;
}

.brand-icon {
  width: 40px;
  height: 40px;
  background: #34d399;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #022c22;
  font-size: 25px;
}
.brand-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


.brand-text h1 {
  font-size: 20px;
  margin: 0;
}

.brand-text p {
  font-size: 19px;
  color: #6ee7b7;
  margin: 0;
}

.sidebar-nav {
  flex: 1;
  padding: 20px;
}

.sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-btn {
  width: 100%;
  background: none;
  border: none;
  color: #d1fae5;
  padding: 10px;
  text-align: left;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.nav-btn:hover {
  background: #064e3b;
  color: white;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #065f46;
}

.user-info {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background: #064e3b;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.user-text .name {
  font-size: 16px;
  margin: 0;
}

.user-text .role {
  font-size: 16px;
  color: #6ee7b7;
  margin: 0;
}

.logout-btn {
  width: 100%;
  background: none;
  border: none;
  color: #d1fae5;
  padding: 10px;
  text-align: left;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background: #064e3b;
  color: white;
}
